<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script type="text/javascript">
    </script>
    <style type="text/css">
    .gridStyle {
        border: 1px solid #999;
        width: 200px;
        height: 200px;
    }
    </style>
    <script type="text/javascript">

    </script>
</head>

<body>
   <!--  <div ng-controller="ctrl2">
        <div class="gridStyle" ui-grid='gridOption' ng-model='my'></div>
        <div ng-model='mydata'></div>
    </div>
    <script type="text/javascript">
    app.controller('ctrl2', ['$scope', function($scope, $http) {
        $http.get("https://bookapi.bignerdranch.com/courses.json").success(function(response) {
            $scope.mydata = response.courses;
            console.log($scope.mydata);
        })
        $scope.gridOptions = {
            data: 'mydata'
        }

    }])
    </script> -->
</body>

</html>
