<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
   
    <!-- bootstrap -->
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- jquery.min.js -->
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!-- vue -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- axios@0.12.0 -->
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <!-- lodash@4.13.1 -->
    <script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/comments.css">
</head>
<!-- font-face -->

<body>
    <div id='myApp'>
        <div class="container">
            <ul class="list-group">
                <li class="list-group-item section">{{storyExtra.long_comments+" 条 长 评"}}</li>
                <li class="list-group-item" v-for="(item,index) in comments">
                    <div class="row">
                        <div class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-11">
                            <img class="avatar" :src='item.avatar' data-toggle="popover" data-placement="right" data-html='true' data-trigger='hover click' data-content="">
                            <div class="nameline">
                                <b>{{item.author}}</b>
                                <span class="count" :style="{color:item.color}">{{item.likes}}</span>
                                <span :id="'comment'+(comments.length-index-1)" :style="{color:item.color}" class="glyphicon glyphicon-thumbs-up icon" @click.stop='like(item,(comments.length-index-1),$event)'></span>
                            </div>
                            <div class='content' :style="{maxHeight:item.pMaxH}">
                                <div>{{item.content}}
                                    <div v-if='item.reply_to!=undefined' class='reply'>
                                        <b>{{('//'+item.reply_to.author+':')}}</b><span style='color:#666'>&nbsp&nbsp{{item.reply_to.content}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="time-line">
                                <time class="light">{{date(item)}}</time>
                                <span class="unfold" @click.stop='unfoldOrfold(item)'>{{item.foldTrigger}}</span></div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item section" @click.stop='turnUpOrDown'>{{storyExtra.short_comments+" 条 短 评"}}<span v-show='!seen' style="font-weight: lighter">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;点击可见</span>
                    <canvas id='little-arrow1' :class="['little-arrow',{'turn-up':isUp}]" width="26" height="24"></canvas>
                    <canvas id='little-arrow2' :class="['little-arrow',{'turn-up':isUp}]" @click.stop='turnUpOrDown' width="36" height="32"></canvas>
                </li>
                <div v-show="seen">
                    <li class="list-group-item" v-for="(shortItem,index) in shortComments">
                        <div class="row">
                            <div class="col-xs-offset-2 col-xs-10 col-sm-offset-1 col-sm-11">
                                <img class="avatar" :src='shortItem.avatar' data-toggle="popover" data-placement="right" data-html='true' data-trigger='hover click' data-content="">
                                <div class="nameline">
                                    <b>{{shortItem.author}}</b><span class="count" :style="{color:shortItem.color}">{{shortItem.likes}}</span> <span :id="'comment'+(storyExtra.long_comments+(shortComments.length-index-1))" class="glyphicon glyphicon-thumbs-up icon" :style="{color:shortItem.color}" @click.stop='like(shortItem,storyExtra.long_comments+(shortComments.length-index-1),$event)'></span></div>
                                <div class="content">
                                    <div>{{shortItem.content}}
                                        <div v-if='shortItem.reply_to!=undefined' class="reply">
                                            <b>{{('//'+shortItem.reply_to.author+':')}}</b><span style='color:#666'>&nbsp;&nbsp;{{shortItem.reply_to.content}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <time class="light">{{date(shortItem)}}</time>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </ul>
            <div class="input-container">
                <textarea class="input" :style="{overflow: inputOverflow}" @focus.stop='focus' @click.stop='inputClick' @keyup='keyup' @blur='blur1' v-model='myComment' placeholder="say something"></textarea>
                <button class="btn btn-info publish" @click.stop='publish'>发表</button>
            </div>
        </div>
        <button class="btn btn-info up-to-top"></button>
    </div>
</body>
<script type="text/javascript" src='js/comments.js'></script>

</html>
